.sliding-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column;
}

.sliding-carousel .main-container {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sliding-carousel .prevButton {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 100%;
  z-index: 1;
  opacity: 50%;
  font-size: 36px;
  /*border-radius: 40%;
    padding: 10px 15px; */
}

.sliding-carousel .slides {
  position: absolute;
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  padding-bottom: 17px;
  font-size: 0;
}

.sliding-carousel .slides figure {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 100%;
}

.sliding-carousel .slides figure img {
  width: 100%;
  height: 100%;
}

.sliding-carousel figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.sliding-carousel .nextButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 100%;
  z-index: 1;
  opacity: 50%;
  font-size: 36px;
}

.sliding-carousel .radios {
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 30px;
  text-align: center;
}